<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jamesTT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mapEntity</display-name>
    <servlet-name>mapEntity</servlet-name>
    <servlet-class>rest.code.mapEntity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapEntity</servlet-name>
    <url-pattern>/mapentity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchSchoolMetaData</display-name>
    <servlet-name>fetchSchoolMetaData</servlet-name>
    <servlet-class>rest.code.fetchSchoolMetaData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchSchoolMetaData</servlet-name>
    <url-pattern>/fetchSchoolMetaData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherAPI</display-name>
    <servlet-name>teacherAPI</servlet-name>
    <servlet-class>rest.code.teacherAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherAPI</servlet-name>
    <url-pattern>/teacherAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTeacher</display-name>
    <servlet-name>deleteTeacher</servlet-name>
    <servlet-class>rest.code.deleteTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTeacher</servlet-name>
    <url-pattern>/deleteTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapCST</display-name>
    <servlet-name>mapCST</servlet-name>
    <servlet-class>rest.code.mapCST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapCST</servlet-name>
    <url-pattern>/mapCST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCST</display-name>
    <servlet-name>deleteCST</servlet-name>
    <servlet-class>rest.code.deleteCST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCST</servlet-name>
    <url-pattern>/deleteCST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchTT</display-name>
    <servlet-name>fetchTT</servlet-name>
    <servlet-class>rest.code.fetchTT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchTT</servlet-name>
    <url-pattern>/fetchTT</url-pattern>
  </servlet-mapping>
</web-app>